@using System.Web.Mvc.Html
@model AdministracionActivosSobrantes.InRequest.Dto.SearchInRequestInput

<div class="wrapper wrapper-content white-bg">
    @using (Html.BeginForm(Model.Action, Model.Control, FormMethod.Post, new { @id = "searchForm", @class = "" }))
    
    {
        <div class="row">
            <div class="col-lg-1">
                <label>
                    Búsqueda
                </label>
            </div>
            <div class="col-lg-9">
                <div class="input-group">
                    @Html.TextBoxFor(model => model.Query, new { @placeholder = "Introducir Búsqueda...", @type = "text", @class = "form-control" })
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-success">Buscar</button>
                    </span>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            @if (Model.Cellars != null && @Model.Cellars.Any())
            {
                <div class="col-lg-1">
                    <label>
                        &nbsp;&nbsp;Ubicación:
                    </label>
                </div>
                <div class="col-lg-4">
                   @{
                SelectList cellars = new SelectList(Model.Cellars.ToArray(), "Id", "Name");
                <div>@Html.DropDownListFor(m => m.CellarId, cellars, "Todas", new { @id = "CellarId_DD", @class = "form-control" })</div>
                    }
                </div>
            }
            
        </div>
    }
</div>
