<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Solicitud de Salida de Materiales</title>
</head>
<body>
    <div class="well" style="text-align: center">
        <div class="row">
            <p><h3>Notificación de estado de Solicitud de Salida</h3></p>
            <p>{0}</p>
        </div>
        <br />
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th  style="text-align: left" colspan="2">
                        <b>Solicitud Número:</b>
                    </th>
                    <th style="text-align: left"  colspan="2">
                        <b>{7}</b>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="text-align: left" colspan="2">
                        <b>Persona Solicitante:</b>
                    </td>
                    <td style="text-align: left" colspan="2">
                        <b>{1}</b>
                    </td>
                </tr>
                <!--<tr>
                    <td style="text-align: left" colspan="4">
                        <b>Encargado de Aprobación:</b>
                    </td>
                    <td style="text-align: left" colspan="4">
                        <b>{2}</b>
                    </td>
                </tr>-->
                <tr>
                    <td style="text-align: left" colspan="2">
                        <b>Ubicación:</b>
                    </td>
                    <td style="text-align: left" colspan="2">
                        <b>{3}</b>
                    </td>
                </tr>
                <tr>
                    <td style="text-align: left" colspan="2">
                        <b>Encargado de Ubicación: {2}</b>
                    </td>
                    <td style="text-align: left" colspan="2">
                        <b>{4}</b>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center">
                        <h5>Para ver el estado de la solicitud número {5} por favor dirigirse al siguiente enlace de la <b><a href="{6}"> solicitud</a></b>.</h5>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center">
                        <h5>
                            <b>
                                * Este correo es de índole confidencial, de interés único del destinatario, si por
                                error ha sido recibido por favor elimínelo.
                            </b>
                        </h5>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
