<div class="row border-bottom gray-bg">
    <nav class="navbar navbar-static-top " role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="glyphicon glyphicon-menu-hamburger"></i> </a>
           
        </div>
        @Html.Partial("_LoginPartial")
    </nav>
</div>